[submodule "envio-service"]
	path = envio-service
	url = https://github.com/proyectos-z/envio-service.git
[submodule "notificacion-service"]
	path = notificacion-service
	url = https://github.com/proyectos-z/notificacion-service.git
[submodule "tarifa-service"]
	path = tarifa-service
	url = https://github.com/proyectos-z/tarifa-service.git
